In [1]:
import pandas as pd

```
pandasライブラリのインポート
as pdとし、pdで呼び出せるようにしています。
```

# シリーズとデータフレーム

In [2]:
ser = pd.Series([10, 20, 30, 40])

```
ますは、シリーズオブジェクトを作成しています。
```

In [3]:
ser

0    10
1    20
2    30
3    40
dtype: int64

```
シーリーズオブジェクトを表示しています
```

In [4]:
df = pd.DataFrame([[10, "a", True], [20, "b", False,], [30, "c", False], [40, "d", True]])
df

    0  1      2
0  10  a   True
1  20  b  False
2  30  c  False
3  40  d   True

```
データフレームオブジェクトを作成し、表示をしています。
```

## NumPyで行列作成

In [5]:
import numpy as np

```
NumPyをnpという名前でインポートしています
NumPyは、Cで実装された高効率な配列や行列を扱うオブジェクトを提供しています。
pandasのオブジェクトの内部はNumPyの配列オブジェクトが利用されており、密接な関係があります。
Pythonには、NumPyがあるからこそ、データ系の処理に向いているとも言われています。
```

In [6]:
np.arange(100).reshape(25, 4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31],
       [32, 33, 34, 35],
       [36, 37, 38, 39],
       [40, 41, 42, 43],
       [44, 45, 46, 47],
       [48, 49, 50, 51],
       [52, 53, 54, 55],
       [56, 57, 58, 59],
       [60, 61, 62, 63],
       [64, 65, 66, 67],
       [68, 69, 70, 71],
       [72, 73, 74, 75],
       [76, 77, 78, 79],
       [80, 81, 82, 83],
       [84, 85, 86, 87],
       [88, 89, 90, 91],
       [92, 93, 94, 95],
       [96, 97, 98, 99]])

```
NumPyのarangeで、0から99までの連続した整数の配列を作り、それを、25行4列の2次元配列を生成しました。
```

# データフレームの作成

In [7]:
df = pd.DataFrame(np.arange(100).reshape(25, 4), columns=list("abcd"))
df

     a   b   c   d
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
4   16  17  18  19
5   20  21  22  23
6   24  25  26  27
7   28  29  30  31
8   32  33  34  35
9   36  37  38  39
10  40  41  42  43
11  44  45  46  47
12  48  49  50  51
13  52  53  54  55
14  56  57  58  59
15  60  61  62  63
16  64  65  66  67
17  68  69  70  71
18  72  73  74  75
19  76  77  78  79
20  80  81  82  83
21  84  85  86  87
22  88  89  90  91
23  92  93  94  95
24  96  97  98  99

```
上記のNumPyで生成した25行4列の二次元配列をpandasのデータフレームに取り込んでいます。
その際に、カラム名として、a, b, c, d と名前をつけています。
```

# 概要を見る

In [8]:
df.head()

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

```
先頭から5件のデータを表示しています
```

In [9]:
df.tail()

     a   b   c   d
20  80  81  82  83
21  84  85  86  87
22  88  89  90  91
23  92  93  94  95
24  96  97  98  99

```
最後から5件のデータを表示しています。
```

In [10]:
df.shape

(25, 4)

```
データフレームの形を、表示しています。
25行、4列であることを示しています。
```

In [11]:
df[3:6]

    a   b   c   d
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23

```
データフレームの4行目から6行目を出力しています
```

# ランダムな値

In [12]:
np.random.rand(25, 4)

array([[ 0.65625034,  0.95151042,  0.54819055,  0.16247922],
       [ 0.0562299 ,  0.14408904,  0.26086687,  0.02892219],
       [ 0.91986068,  0.39098427,  0.32496658,  0.50195636],
       [ 0.70344802,  0.98408289,  0.24492896,  0.44681372],
       [ 0.98229667,  0.07114138,  0.78996043,  0.65066891],
       [ 0.45954222,  0.84759855,  0.98558847,  0.47339257],
       [ 0.40508276,  0.92722521,  0.71904013,  0.52931437],
       [ 0.6596136 ,  0.60913601,  0.77838669,  0.71629173],
       [ 0.28361543,  0.06093767,  0.7640105 ,  0.7479933 ],
       [ 0.88944919,  0.78686408,  0.02352393,  0.59447358],
       [ 0.62905516,  0.86009429,  0.0037782 ,  0.48451846],
       [ 0.33921934,  0.65981273,  0.26525465,  0.35364659],
       [ 0.63966249,  0.66876736,  0.27323721,  0.40389078],
       [ 0.84770632,  0.31339699,  0.44915049,  0.33900289],
       [ 0.93965145,  0.57793616,  0.38955346,  0.8652002 ],
       [ 0.13964974,  0.97480636,  0.68277198,  0.15245619],
       [ 0.89756454,  0.24846054,  0.0377088 ,  0.70754223],
       [ 0.04381875,  0.47061327,  0.32247905,  0.29881906],
       [ 0.33636545,  0.44277093,  0.31112107,  0.52735398],
       [ 0.27771393,  0.42000612,  0.46312936,  0.03402678],
       [ 0.7782935 ,  0.74193045,  0.00576306,  0.09665222],
       [ 0.47292129,  0.70782075,  0.79263864,  0.42510415],
       [ 0.38515387,  0.11680317,  0.52262602,  0.16909089],
       [ 0.5190716 ,  0.80500355,  0.52614893,  0.68725378],
       [ 0.64807292,  0.86336467,  0.44111968,  0.3164246 ]])

```
0から1のfloatのランダムな数値を、25行4列の行列を出力しています。
NumPyでは、このように、ランダム行列を簡単に作ることができます。
この値はランダムなので、実行のたびに数値が変わります。
```

In [13]:
df = pd.DataFrame(np.random.rand(25, 4), columns=list("abcd"))
df

           a         b         c         d
0   0.183643  0.323743  0.938861  0.507779
1   0.644825  0.535293  0.100737  0.048451
2   0.241172  0.997354  0.545674  0.795041
3   0.755114  0.409406  0.808784  0.260855
4   0.334097  0.702701  0.613500  0.669020
5   0.351014  0.521778  0.679375  0.314711
6   0.402247  0.455129  0.579914  0.322169
7   0.530929  0.534375  0.494060  0.219663
8   0.889462  0.021373  0.060222  0.090622
9   0.782500  0.674004  0.376735  0.405598
10  0.734647  0.991929  0.060308  0.614761
11  0.587009  0.623201  0.147423  0.573410
12  0.720112  0.942435  0.496463  0.646760
13  0.698120  0.465542  0.953981  0.526824
14  0.426958  0.102866  0.603456  0.880335
15  0.028852  0.120874  0.395017  0.219461
16  0.043872  0.005334  0.496864  0.322702
17  0.531712  0.414095  0.566332  0.091405
18  0.286195  0.880248  0.218796  0.761903
19  0.506748  0.007275  0.247474  0.909148
20  0.629412  0.632661  0.772124  0.070444
21  0.312121  0.956143  0.683943  0.640088
22  0.995174  0.964712  0.795178  0.477803
23  0.804264  0.254548  0.466956  0.039906
24  0.440137  0.595162  0.785938  0.220180

```
ランダムな値を、データフレームにし、変数dfに入れています
```

# 集計

In [14]:
df.max()

a    0.995174
b    0.997354
c    0.953981
d    0.909148
dtype: float64

```
カラム毎の最大値を出力
```

In [15]:
df.min()

a    0.028852
b    0.005334
c    0.060222
d    0.039906
dtype: float64

```
カラム毎の最小値を出力
```

In [16]:
df.describe()

               a          b          c          d
count  25.000000  25.000000  25.000000  25.000000
mean    0.514413   0.525287   0.515525   0.425162
std     0.255402   0.321581   0.264110   0.270105
min     0.028852   0.005334   0.060222   0.039906
25%     0.334097   0.323743   0.376735   0.219663
50%     0.530929   0.534375   0.545674   0.405598
75%     0.720112   0.702701   0.683943   0.640088
max     0.995174   0.997354   0.953981   0.909148

```
カラム毎に統計値を出力
- 要素数
- 平均値
- 標準偏差
- 最小値
- 最小から1/4の値
- 中央値
- 最大から1/4の値
- 最大値
```

# インデックスとカラム

In [17]:
df["a"]

0     0.183643
1     0.644825
2     0.241172
3     0.755114
4     0.334097
5     0.351014
6     0.402247
7     0.530929
8     0.889462
9     0.782500
10    0.734647
11    0.587009
12    0.720112
13    0.698120
14    0.426958
15    0.028852
16    0.043872
17    0.531712
18    0.286195
19    0.506748
20    0.629412
21    0.312121
22    0.995174
23    0.804264
24    0.440137
Name: a, dtype: float64

```
カラム a をシリーズで取り出し
```

In [18]:
df[["a", "c"]]

           a         c
0   0.183643  0.938861
1   0.644825  0.100737
2   0.241172  0.545674
3   0.755114  0.808784
4   0.334097  0.613500
5   0.351014  0.679375
6   0.402247  0.579914
7   0.530929  0.494060
8   0.889462  0.060222
9   0.782500  0.376735
10  0.734647  0.060308
11  0.587009  0.147423
12  0.720112  0.496463
13  0.698120  0.953981
14  0.426958  0.603456
15  0.028852  0.395017
16  0.043872  0.496864
17  0.531712  0.566332
18  0.286195  0.218796
19  0.506748  0.247474
20  0.629412  0.772124
21  0.312121  0.683943
22  0.995174  0.795178
23  0.804264  0.466956
24  0.440137  0.785938

```
カラム a と c だけを取り出した、データフレームを取り出し
```

In [19]:
df[:3]

          a         b         c         d
0  0.183643  0.323743  0.938861  0.507779
1  0.644825  0.535293  0.100737  0.048451
2  0.241172  0.997354  0.545674  0.795041

```
3行目までのデータフレームを取り出し
```

In [20]:
df.loc[2]

a    0.241172
b    0.997354
c    0.545674
d    0.795041
Name: 2, dtype: float64

```
インデックスの値で取り出し、シリーズが出力される
```

In [21]:
df.iloc[2]

a    0.241172
b    0.997354
c    0.545674
d    0.795041
Name: 2, dtype: float64

```
インデックス番号で取り出し、シリーズが出力される
上記の `loc` と `iloc` は同じように動作しているが、これは、インデックスの値とインデックス番号同じであるためにこのようになっている
```

In [22]:
df.loc[2, :]

a    0.241172
b    0.997354
c    0.545674
d    0.795041
Name: 2, dtype: float64

```
インデックスの値と、カラムの両方を明示的に指定して取り出し
`:` は、カラムのすべてを意味する
```

In [23]:
df.loc[:, "b"]

0     0.323743
1     0.535293
2     0.997354
3     0.409406
4     0.702701
5     0.521778
6     0.455129
7     0.534375
8     0.021373
9     0.674004
10    0.991929
11    0.623201
12    0.942435
13    0.465542
14    0.102866
15    0.120874
16    0.005334
17    0.414095
18    0.880248
19    0.007275
20    0.632661
21    0.956143
22    0.964712
23    0.254548
24    0.595162
Name: b, dtype: float64

```
このケースは、すべての行で、カラムの値が `b` を出力
```

In [24]:
df.loc[:5, ["a", "c"]]

          a         c
0  0.183643  0.938861
1  0.644825  0.100737
2  0.241172  0.545674
3  0.755114  0.808784
4  0.334097  0.613500
5  0.351014  0.679375

```
5行目までで、カラム a と c を出力
インデックスの値とカラムの値で指定している
この場合は、データフレームで出力される
```

In [25]:
df.iloc[:5, [0, 2]]

          a         c
0  0.183643  0.938861
1  0.644825  0.100737
2  0.241172  0.545674
3  0.755114  0.808784
4  0.334097  0.613500

```
このケースでは、インデックス番号とカラムの番号（位置）で指定している
```

# 条件による抽出

In [26]:
df > 0.5

        a      b      c      d
0   False  False   True   True
1    True   True  False  False
2   False   True   True   True
3    True  False   True  False
4   False   True   True   True
5   False   True   True  False
6   False  False   True  False
7    True   True  False  False
8    True  False  False  False
9    True   True  False  False
10   True   True  False   True
11   True   True  False   True
12   True   True  False   True
13   True  False   True   True
14  False  False   True   True
15  False  False  False  False
16  False  False  False  False
17   True  False   True  False
18  False   True  False   True
19   True  False  False   True
20   True   True   True  False
21  False   True   True   True
22   True   True   True  False
23   True  False  False  False
24  False   True   True  False

```
データフレームの演算。
0.5より大きい数値の場合にTrueとなる、元のデータフレームと同じサイズの行列が出力される
```

In [27]:
df["a"] > 0.5

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14    False
15    False
16    False
17     True
18    False
19     True
20     True
21    False
22     True
23     True
24    False
Name: a, dtype: bool

```
カラム a のみを演算して、結果を出力
```

In [28]:
df[df["a"] > 0.5]

           a         b         c         d
1   0.644825  0.535293  0.100737  0.048451
3   0.755114  0.409406  0.808784  0.260855
7   0.530929  0.534375  0.494060  0.219663
8   0.889462  0.021373  0.060222  0.090622
9   0.782500  0.674004  0.376735  0.405598
10  0.734647  0.991929  0.060308  0.614761
11  0.587009  0.623201  0.147423  0.573410
12  0.720112  0.942435  0.496463  0.646760
13  0.698120  0.465542  0.953981  0.526824
17  0.531712  0.414095  0.566332  0.091405
19  0.506748  0.007275  0.247474  0.909148
20  0.629412  0.632661  0.772124  0.070444
22  0.995174  0.964712  0.795178  0.477803
23  0.804264  0.254548  0.466956  0.039906

```
上記の条件を、データフレーの抽出条件にして、結果を出力
この場合は、カラム a が、0.5 より大きい行のみをデータフレームとして出力
```

In [29]:
len(df[df["a"] > 0.5])

14

```
データの行数を、len関数で確認
```

# 加工
## 全体を10倍する

In [30]:
df * 10

           a         b         c         d
0   1.836427  3.237431  9.388613  5.077792
1   6.448247  5.352929  1.007373  0.484510
2   2.411724  9.973541  5.456736  7.950409
3   7.551145  4.094058  8.087837  2.608553
4   3.340974  7.027008  6.135003  6.690203
5   3.510139  5.217780  6.793750  3.147107
6   4.022466  4.551294  5.799143  3.221694
7   5.309291  5.343748  4.940602  2.196632
8   8.894620  0.213728  0.602216  0.906223
9   7.825004  6.740044  3.767354  4.055982
10  7.346466  9.919289  0.603078  6.147611
11  5.870092  6.232013  1.474225  5.734099
12  7.201121  9.424353  4.964634  6.467601
13  6.981200  4.655415  9.539814  5.268236
14  4.269580  1.028661  6.034564  8.803354
15  0.288519  1.208744  3.950175  2.194607
16  0.438717  0.053340  4.968635  3.227019
17  5.317118  4.140954  5.663318  0.914048
18  2.861950  8.802481  2.187960  7.619029
19  5.067479  0.072748  2.474736  9.091480
20  6.294119  6.326609  7.721237  0.704438
21  3.121212  9.561426  6.839434  6.400876
22  9.951743  9.647122  7.951777  4.778032
23  8.042643  2.545482  4.669556  0.399058
24  4.401367  5.951619  7.859376  2.201801

```
データフレーム全体に対して、数値を10倍したデータフレームを出力
```

## 平均値を新たなカラムに入れる

In [31]:
df.mean(axis=1)

0     0.488507
1     0.332326
2     0.644810
3     0.558540
4     0.579830
5     0.466719
6     0.439865
7     0.444757
8     0.265420
9     0.559710
10    0.600411
11    0.482761
12    0.701443
13    0.661117
14    0.503404
15    0.191051
16    0.217193
17    0.400886
18    0.536786
19    0.417661
20    0.526160
21    0.648074
22    0.808217
23    0.391418
24    0.510354
dtype: float64

```
行ごとに平均値を求める。
axis=1 を指定しているので、列の計算になる。デフォルトは axis=0となり、前で実行したようにカラムごとの平均が求まる
```

In [32]:
df['mean'] = df.mean(axis=1)

```
既存のデータフレームdfに、新たにカラム mean を追加して、先程計算した、行毎の平均値を代入
```

In [33]:
df.head()

          a         b         c         d      mean
0  0.183643  0.323743  0.938861  0.507779  0.488507
1  0.644825  0.535293  0.100737  0.048451  0.332326
2  0.241172  0.997354  0.545674  0.795041  0.644810
3  0.755114  0.409406  0.808784  0.260855  0.558540
4  0.334097  0.702701  0.613500  0.669020  0.579830

```
データフレームを確認すると、カラム　mean　が追加されている
```

## 最大値を新たなカラムに入れる

In [34]:
df.max(axis=1)

0     0.938861
1     0.644825
2     0.997354
3     0.808784
4     0.702701
5     0.679375
6     0.579914
7     0.534375
8     0.889462
9     0.782500
10    0.991929
11    0.623201
12    0.942435
13    0.953981
14    0.880335
15    0.395017
16    0.496864
17    0.566332
18    0.880248
19    0.909148
20    0.772124
21    0.956143
22    0.995174
23    0.804264
24    0.785938
dtype: float64

```
平均値同様に、行毎の最大値を計算
```

In [35]:
df["max"] = df.max(axis=1)

```
カラム max を追加して、最大値を挿入
```

In [36]:
df.head()

          a         b         c         d      mean       max
0  0.183643  0.323743  0.938861  0.507779  0.488507  0.938861
1  0.644825  0.535293  0.100737  0.048451  0.332326  0.644825
2  0.241172  0.997354  0.545674  0.795041  0.644810  0.997354
3  0.755114  0.409406  0.808784  0.260855  0.558540  0.808784
4  0.334097  0.702701  0.613500  0.669020  0.579830  0.702701

```
列が追加されているかどうかを確認
```

## 転置変換

In [37]:
df

           a         b         c         d      mean       max
0   0.183643  0.323743  0.938861  0.507779  0.488507  0.938861
1   0.644825  0.535293  0.100737  0.048451  0.332326  0.644825
2   0.241172  0.997354  0.545674  0.795041  0.644810  0.997354
3   0.755114  0.409406  0.808784  0.260855  0.558540  0.808784
4   0.334097  0.702701  0.613500  0.669020  0.579830  0.702701
5   0.351014  0.521778  0.679375  0.314711  0.466719  0.679375
6   0.402247  0.455129  0.579914  0.322169  0.439865  0.579914
7   0.530929  0.534375  0.494060  0.219663  0.444757  0.534375
8   0.889462  0.021373  0.060222  0.090622  0.265420  0.889462
9   0.782500  0.674004  0.376735  0.405598  0.559710  0.782500
10  0.734647  0.991929  0.060308  0.614761  0.600411  0.991929
11  0.587009  0.623201  0.147423  0.573410  0.482761  0.623201
12  0.720112  0.942435  0.496463  0.646760  0.701443  0.942435
13  0.698120  0.465542  0.953981  0.526824  0.661117  0.953981
14  0.426958  0.102866  0.603456  0.880335  0.503404  0.880335
15  0.028852  0.120874  0.395017  0.219461  0.191051  0.395017
16  0.043872  0.005334  0.496864  0.322702  0.217193  0.496864
17  0.531712  0.414095  0.566332  0.091405  0.400886  0.566332
18  0.286195  0.880248  0.218796  0.761903  0.536786  0.880248
19  0.506748  0.007275  0.247474  0.909148  0.417661  0.909148
20  0.629412  0.632661  0.772124  0.070444  0.526160  0.772124
21  0.312121  0.956143  0.683943  0.640088  0.648074  0.956143
22  0.995174  0.964712  0.795178  0.477803  0.808217  0.995174
23  0.804264  0.254548  0.466956  0.039906  0.391418  0.804264
24  0.440137  0.595162  0.785938  0.220180  0.510354  0.785938

```
データフレーム全体を表示
```

In [38]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
a,0.183643,0.644825,0.241172,0.755114,0.334097,0.351014,0.402247,0.530929,0.889462,0.782500,...,0.028852,0.043872,0.531712,0.286195,0.506748,0.629412,0.312121,0.995174,0.804264,0.440137
b,0.323743,0.535293,0.997354,0.409406,0.702701,0.521778,0.455129,0.534375,0.021373,0.674004,...,0.120874,0.005334,0.414095,0.880248,0.007275,0.632661,0.956143,0.964712,0.254548,0.595162
c,0.938861,0.100737,0.545674,0.808784,0.613500,0.679375,0.579914,0.494060,0.060222,0.376735,...,0.395017,0.496864,0.566332,0.218796,0.247474,0.772124,0.683943,0.795178,0.466956,0.785938
d,0.507779,0.048451,0.795041,0.260855,0.669020,0.314711,0.322169,0.219663,0.090622,0.405598,...,0.219461,0.322702,0.091405,0.761903,0.909148,0.070444,0.640088,0.477803,0.039906,0.220180
mean,0.488507,0.332326,0.644810,0.558540,0.579830,0.466719,0.439865,0.444757,0.265420,0.559710,...,0.191051,0.217193,0.400886,0.536786,0.417661,0.526160,0.648074,0.808217,0.391418,0.510354
max,0.938861,0.644825,0.997354,0.808784,0.702701,0.679375,0.579914,0.534375,0.889462,0.782500,...,0.395017,0.496864,0.566332,0.880248,0.909148,0.772124,0.956143,0.995174,0.804264,0.785938

```
行と列を入れ替えたものを出力
```

In [39]:
df

           a         b         c         d      mean       max
0   0.183643  0.323743  0.938861  0.507779  0.488507  0.938861
1   0.644825  0.535293  0.100737  0.048451  0.332326  0.644825
2   0.241172  0.997354  0.545674  0.795041  0.644810  0.997354
3   0.755114  0.409406  0.808784  0.260855  0.558540  0.808784
4   0.334097  0.702701  0.613500  0.669020  0.579830  0.702701
5   0.351014  0.521778  0.679375  0.314711  0.466719  0.679375
6   0.402247  0.455129  0.579914  0.322169  0.439865  0.579914
7   0.530929  0.534375  0.494060  0.219663  0.444757  0.534375
8   0.889462  0.021373  0.060222  0.090622  0.265420  0.889462
9   0.782500  0.674004  0.376735  0.405598  0.559710  0.782500
10  0.734647  0.991929  0.060308  0.614761  0.600411  0.991929
11  0.587009  0.623201  0.147423  0.573410  0.482761  0.623201
12  0.720112  0.942435  0.496463  0.646760  0.701443  0.942435
13  0.698120  0.465542  0.953981  0.526824  0.661117  0.953981
14  0.426958  0.102866  0.603456  0.880335  0.503404  0.880335
15  0.028852  0.120874  0.395017  0.219461  0.191051  0.395017
16  0.043872  0.005334  0.496864  0.322702  0.217193  0.496864
17  0.531712  0.414095  0.566332  0.091405  0.400886  0.566332
18  0.286195  0.880248  0.218796  0.761903  0.536786  0.880248
19  0.506748  0.007275  0.247474  0.909148  0.417661  0.909148
20  0.629412  0.632661  0.772124  0.070444  0.526160  0.772124
21  0.312121  0.956143  0.683943  0.640088  0.648074  0.956143
22  0.995174  0.964712  0.795178  0.477803  0.808217  0.995174
23  0.804264  0.254548  0.466956  0.039906  0.391418  0.804264
24  0.440137  0.595162  0.785938  0.220180  0.510354  0.785938

```
元のデータフレームは変更されていない
```

## 2つのDFを繋げる

In [40]:
np.random.rand(5, 4)

array([[ 0.47327508,  0.69061228,  0.70141747,  0.55324332],
       [ 0.68080153,  0.40396217,  0.55997872,  0.05790085],
       [ 0.0116077 ,  0.15234797,  0.39201042,  0.51300562],
       [ 0.37017885,  0.17345503,  0.97585782,  0.40798406],
       [ 0.28484747,  0.04572508,  0.43671997,  0.3888472 ]])

```
5行4列のデータを作る
```

In [41]:
df2 = pd.DataFrame(np.random.rand(5, 4), columns=list('abcd'))

```
df2というデータフレームを5行4列で新たに作る
```

In [42]:
df2

          a         b         c         d
0  0.508119  0.962552  0.152898  0.513013
1  0.289742  0.478363  0.854345  0.001376
2  0.429212  0.501993  0.733530  0.458697
3  0.751627  0.437453  0.599426  0.445366
4  0.402649  0.944473  0.621973  0.208005

```
df2の中身を確認
```

In [43]:
df_new = pd.concat([df, df2])

```
concat関数を使って、25行のdfと4行のｄｆ２を連結
```

In [44]:
df_new

           a         b         c         d       max      mean
0   0.183643  0.323743  0.938861  0.507779  0.938861  0.488507
1   0.644825  0.535293  0.100737  0.048451  0.644825  0.332326
2   0.241172  0.997354  0.545674  0.795041  0.997354  0.644810
3   0.755114  0.409406  0.808784  0.260855  0.808784  0.558540
4   0.334097  0.702701  0.613500  0.669020  0.702701  0.579830
5   0.351014  0.521778  0.679375  0.314711  0.679375  0.466719
6   0.402247  0.455129  0.579914  0.322169  0.579914  0.439865
7   0.530929  0.534375  0.494060  0.219663  0.534375  0.444757
8   0.889462  0.021373  0.060222  0.090622  0.889462  0.265420
9   0.782500  0.674004  0.376735  0.405598  0.782500  0.559710
10  0.734647  0.991929  0.060308  0.614761  0.991929  0.600411
11  0.587009  0.623201  0.147423  0.573410  0.623201  0.482761
12  0.720112  0.942435  0.496463  0.646760  0.942435  0.701443
13  0.698120  0.465542  0.953981  0.526824  0.953981  0.661117
14  0.426958  0.102866  0.603456  0.880335  0.880335  0.503404
15  0.028852  0.120874  0.395017  0.219461  0.395017  0.191051
16  0.043872  0.005334  0.496864  0.322702  0.496864  0.217193
17  0.531712  0.414095  0.566332  0.091405  0.566332  0.400886
18  0.286195  0.880248  0.218796  0.761903  0.880248  0.536786
19  0.506748  0.007275  0.247474  0.909148  0.909148  0.417661
20  0.629412  0.632661  0.772124  0.070444  0.772124  0.526160
21  0.312121  0.956143  0.683943  0.640088  0.956143  0.648074
22  0.995174  0.964712  0.795178  0.477803  0.995174  0.808217
23  0.804264  0.254548  0.466956  0.039906  0.804264  0.391418
24  0.440137  0.595162  0.785938  0.220180  0.785938  0.510354
0   0.508119  0.962552  0.152898  0.513013       NaN       NaN
1   0.289742  0.478363  0.854345  0.001376       NaN       NaN
2   0.429212  0.501993  0.733530  0.458697       NaN       NaN
3   0.751627  0.437453  0.599426  0.445366       NaN       NaN
4   0.402649  0.944473  0.621973  0.208005       NaN       NaN

```
３０行の新たな行列ができた。
ただ、インデックスの値もそのまま採用さたので、インデックスが同じものが存在。
```

## インデックスの振り直し

In [45]:
df_new = pd.concat([df, df2], ignore_index=True)

```
今回のケースでは、インデックスは意味を持たないので、インデックスの振り直しをして欲しい。
concat関数に `ignore_index=True` を指定して改めてデータフレームを生成
```

In [46]:
df_new

           a         b         c         d       max      mean
0   0.183643  0.323743  0.938861  0.507779  0.938861  0.488507
1   0.644825  0.535293  0.100737  0.048451  0.644825  0.332326
2   0.241172  0.997354  0.545674  0.795041  0.997354  0.644810
3   0.755114  0.409406  0.808784  0.260855  0.808784  0.558540
4   0.334097  0.702701  0.613500  0.669020  0.702701  0.579830
5   0.351014  0.521778  0.679375  0.314711  0.679375  0.466719
6   0.402247  0.455129  0.579914  0.322169  0.579914  0.439865
7   0.530929  0.534375  0.494060  0.219663  0.534375  0.444757
8   0.889462  0.021373  0.060222  0.090622  0.889462  0.265420
9   0.782500  0.674004  0.376735  0.405598  0.782500  0.559710
10  0.734647  0.991929  0.060308  0.614761  0.991929  0.600411
11  0.587009  0.623201  0.147423  0.573410  0.623201  0.482761
12  0.720112  0.942435  0.496463  0.646760  0.942435  0.701443
13  0.698120  0.465542  0.953981  0.526824  0.953981  0.661117
14  0.426958  0.102866  0.603456  0.880335  0.880335  0.503404
15  0.028852  0.120874  0.395017  0.219461  0.395017  0.191051
16  0.043872  0.005334  0.496864  0.322702  0.496864  0.217193
17  0.531712  0.414095  0.566332  0.091405  0.566332  0.400886
18  0.286195  0.880248  0.218796  0.761903  0.880248  0.536786
19  0.506748  0.007275  0.247474  0.909148  0.909148  0.417661
20  0.629412  0.632661  0.772124  0.070444  0.772124  0.526160
21  0.312121  0.956143  0.683943  0.640088  0.956143  0.648074
22  0.995174  0.964712  0.795178  0.477803  0.995174  0.808217
23  0.804264  0.254548  0.466956  0.039906  0.804264  0.391418
24  0.440137  0.595162  0.785938  0.220180  0.785938  0.510354
25  0.508119  0.962552  0.152898  0.513013       NaN       NaN
26  0.289742  0.478363  0.854345  0.001376       NaN       NaN
27  0.429212  0.501993  0.733530  0.458697       NaN       NaN
28  0.751627  0.437453  0.599426  0.445366       NaN       NaN
29  0.402649  0.944473  0.621973  0.208005       NaN       NaN

```
全体の確認
後で作った、df2には、カラム mean と max が無かったので、数値が無いことを示す NaNが入っている。
このNaNは NumPyの Not a Number という値です
```

In [47]:
df_new.shape

(30, 6)

```
行列の形を確認
```

# 並べ替え
## 平均値(mean列)の数値が小さい順に並べ替える

In [48]:
df.shape

(25, 6)

```
元の25行のデータフレームを使って、各種並べ替えの方法を見ていきます。
```

In [49]:
df.sort_values(by="mean")

           a         b         c         d      mean       max
15  0.028852  0.120874  0.395017  0.219461  0.191051  0.395017
16  0.043872  0.005334  0.496864  0.322702  0.217193  0.496864
8   0.889462  0.021373  0.060222  0.090622  0.265420  0.889462
1   0.644825  0.535293  0.100737  0.048451  0.332326  0.644825
23  0.804264  0.254548  0.466956  0.039906  0.391418  0.804264
17  0.531712  0.414095  0.566332  0.091405  0.400886  0.566332
19  0.506748  0.007275  0.247474  0.909148  0.417661  0.909148
6   0.402247  0.455129  0.579914  0.322169  0.439865  0.579914
7   0.530929  0.534375  0.494060  0.219663  0.444757  0.534375
5   0.351014  0.521778  0.679375  0.314711  0.466719  0.679375
11  0.587009  0.623201  0.147423  0.573410  0.482761  0.623201
0   0.183643  0.323743  0.938861  0.507779  0.488507  0.938861
14  0.426958  0.102866  0.603456  0.880335  0.503404  0.880335
24  0.440137  0.595162  0.785938  0.220180  0.510354  0.785938
20  0.629412  0.632661  0.772124  0.070444  0.526160  0.772124
18  0.286195  0.880248  0.218796  0.761903  0.536786  0.880248
3   0.755114  0.409406  0.808784  0.260855  0.558540  0.808784
9   0.782500  0.674004  0.376735  0.405598  0.559710  0.782500
4   0.334097  0.702701  0.613500  0.669020  0.579830  0.702701
10  0.734647  0.991929  0.060308  0.614761  0.600411  0.991929
2   0.241172  0.997354  0.545674  0.795041  0.644810  0.997354
21  0.312121  0.956143  0.683943  0.640088  0.648074  0.956143
13  0.698120  0.465542  0.953981  0.526824  0.661117  0.953981
12  0.720112  0.942435  0.496463  0.646760  0.701443  0.942435
22  0.995174  0.964712  0.795178  0.477803  0.808217  0.995174

```
平均値で並べ替えた。
ここでは、出力のみを行っているので、データフレーム df には影響を与えていない
```

## 最大値(max列)の数値が大きい順で並べ替える

In [50]:
df.sort_values(by="max", ascending=False)

           a         b         c         d      mean       max
2   0.241172  0.997354  0.545674  0.795041  0.644810  0.997354
22  0.995174  0.964712  0.795178  0.477803  0.808217  0.995174
10  0.734647  0.991929  0.060308  0.614761  0.600411  0.991929
21  0.312121  0.956143  0.683943  0.640088  0.648074  0.956143
13  0.698120  0.465542  0.953981  0.526824  0.661117  0.953981
12  0.720112  0.942435  0.496463  0.646760  0.701443  0.942435
0   0.183643  0.323743  0.938861  0.507779  0.488507  0.938861
19  0.506748  0.007275  0.247474  0.909148  0.417661  0.909148
8   0.889462  0.021373  0.060222  0.090622  0.265420  0.889462
14  0.426958  0.102866  0.603456  0.880335  0.503404  0.880335
18  0.286195  0.880248  0.218796  0.761903  0.536786  0.880248
3   0.755114  0.409406  0.808784  0.260855  0.558540  0.808784
23  0.804264  0.254548  0.466956  0.039906  0.391418  0.804264
24  0.440137  0.595162  0.785938  0.220180  0.510354  0.785938
9   0.782500  0.674004  0.376735  0.405598  0.559710  0.782500
20  0.629412  0.632661  0.772124  0.070444  0.526160  0.772124
4   0.334097  0.702701  0.613500  0.669020  0.579830  0.702701
5   0.351014  0.521778  0.679375  0.314711  0.466719  0.679375
1   0.644825  0.535293  0.100737  0.048451  0.332326  0.644825
11  0.587009  0.623201  0.147423  0.573410  0.482761  0.623201
6   0.402247  0.455129  0.579914  0.322169  0.439865  0.579914
17  0.531712  0.414095  0.566332  0.091405  0.400886  0.566332
7   0.530929  0.534375  0.494060  0.219663  0.444757  0.534375
16  0.043872  0.005334  0.496864  0.322702  0.217193  0.496864
15  0.028852  0.120874  0.395017  0.219461  0.191051  0.395017

```
最大値を大きい順に出力
ascending(アセンディング）=False　を指定
```

## a列が0.5以上の行に絞り込んで、a列の大きい順に並べ替える

In [51]:
df[df["a"] > 0.5].sort_values(by="a", ascending=False)

           a         b         c         d      mean       max
22  0.995174  0.964712  0.795178  0.477803  0.808217  0.995174
8   0.889462  0.021373  0.060222  0.090622  0.265420  0.889462
23  0.804264  0.254548  0.466956  0.039906  0.391418  0.804264
9   0.782500  0.674004  0.376735  0.405598  0.559710  0.782500
3   0.755114  0.409406  0.808784  0.260855  0.558540  0.808784
10  0.734647  0.991929  0.060308  0.614761  0.600411  0.991929
12  0.720112  0.942435  0.496463  0.646760  0.701443  0.942435
13  0.698120  0.465542  0.953981  0.526824  0.661117  0.953981
1   0.644825  0.535293  0.100737  0.048451  0.332326  0.644825
20  0.629412  0.632661  0.772124  0.070444  0.526160  0.772124
11  0.587009  0.623201  0.147423  0.573410  0.482761  0.623201
17  0.531712  0.414095  0.566332  0.091405  0.400886  0.566332
7   0.530929  0.534375  0.494060  0.219663  0.444757  0.534375
19  0.506748  0.007275  0.247474  0.909148  0.417661  0.909148

```
a列が0.5以上に絞り込んで、a列の大きい順に並べ替えた結果を出力
```

# a列が0.5以下の行に絞り込んで、b列の大きい順に並び替える

In [52]:
df[df["a"] > 0.5].sort_values(by="b", ascending=False)

           a         b         c         d      mean       max
10  0.734647  0.991929  0.060308  0.614761  0.600411  0.991929
22  0.995174  0.964712  0.795178  0.477803  0.808217  0.995174
12  0.720112  0.942435  0.496463  0.646760  0.701443  0.942435
9   0.782500  0.674004  0.376735  0.405598  0.559710  0.782500
20  0.629412  0.632661  0.772124  0.070444  0.526160  0.772124
11  0.587009  0.623201  0.147423  0.573410  0.482761  0.623201
1   0.644825  0.535293  0.100737  0.048451  0.332326  0.644825
7   0.530929  0.534375  0.494060  0.219663  0.444757  0.534375
13  0.698120  0.465542  0.953981  0.526824  0.661117  0.953981
17  0.531712  0.414095  0.566332  0.091405  0.400886  0.566332
3   0.755114  0.409406  0.808784  0.260855  0.558540  0.808784
23  0.804264  0.254548  0.466956  0.039906  0.391418  0.804264
8   0.889462  0.021373  0.060222  0.090622  0.265420  0.889462
19  0.506748  0.007275  0.247474  0.909148  0.417661  0.909148

```
a列が0.5以下に絞り込んで、b列の大きい順に並び替えた
```

## 平均値(mean列)の数値の上位5件だけを抽出

In [53]:
df

           a         b         c         d      mean       max
0   0.183643  0.323743  0.938861  0.507779  0.488507  0.938861
1   0.644825  0.535293  0.100737  0.048451  0.332326  0.644825
2   0.241172  0.997354  0.545674  0.795041  0.644810  0.997354
3   0.755114  0.409406  0.808784  0.260855  0.558540  0.808784
4   0.334097  0.702701  0.613500  0.669020  0.579830  0.702701
5   0.351014  0.521778  0.679375  0.314711  0.466719  0.679375
6   0.402247  0.455129  0.579914  0.322169  0.439865  0.579914
7   0.530929  0.534375  0.494060  0.219663  0.444757  0.534375
8   0.889462  0.021373  0.060222  0.090622  0.265420  0.889462
9   0.782500  0.674004  0.376735  0.405598  0.559710  0.782500
10  0.734647  0.991929  0.060308  0.614761  0.600411  0.991929
11  0.587009  0.623201  0.147423  0.573410  0.482761  0.623201
12  0.720112  0.942435  0.496463  0.646760  0.701443  0.942435
13  0.698120  0.465542  0.953981  0.526824  0.661117  0.953981
14  0.426958  0.102866  0.603456  0.880335  0.503404  0.880335
15  0.028852  0.120874  0.395017  0.219461  0.191051  0.395017
16  0.043872  0.005334  0.496864  0.322702  0.217193  0.496864
17  0.531712  0.414095  0.566332  0.091405  0.400886  0.566332
18  0.286195  0.880248  0.218796  0.761903  0.536786  0.880248
19  0.506748  0.007275  0.247474  0.909148  0.417661  0.909148
20  0.629412  0.632661  0.772124  0.070444  0.526160  0.772124
21  0.312121  0.956143  0.683943  0.640088  0.648074  0.956143
22  0.995174  0.964712  0.795178  0.477803  0.808217  0.995174
23  0.804264  0.254548  0.466956  0.039906  0.391418  0.804264
24  0.440137  0.595162  0.785938  0.220180  0.510354  0.785938

```
データフレームの状態を確認
変わっていない
```

In [54]:
df_mean5 = df.sort_values(by="mean", ascending=False).head(5)

```
カラム mean(平均値）を大きい順に並べ替えて、５個目までを、新たなデータフレームにした
```

In [55]:
df_mean5

           a         b         c         d      mean       max
22  0.995174  0.964712  0.795178  0.477803  0.808217  0.995174
12  0.720112  0.942435  0.496463  0.646760  0.701443  0.942435
13  0.698120  0.465542  0.953981  0.526824  0.661117  0.953981
21  0.312121  0.956143  0.683943  0.640088  0.648074  0.956143
2   0.241172  0.997354  0.545674  0.795041  0.644810  0.997354

```
平均値が大きいTop5のデータフレームが作られた
```

# 欠損値の扱い

欠損値とは、何かしらの理由でデータが無い箇所を言います。
実データでは、実験ミスや記載漏れ、アンケートなどでは取得できなかった場合などが考えられます。
それらのデータがない箇所を、どのように取り扱うかという命題をここでは扱います。


## 2つのデータフレームをつなげた、df_new を使う

In [56]:
df_new

           a         b         c         d       max      mean
0   0.183643  0.323743  0.938861  0.507779  0.938861  0.488507
1   0.644825  0.535293  0.100737  0.048451  0.644825  0.332326
2   0.241172  0.997354  0.545674  0.795041  0.997354  0.644810
3   0.755114  0.409406  0.808784  0.260855  0.808784  0.558540
4   0.334097  0.702701  0.613500  0.669020  0.702701  0.579830
5   0.351014  0.521778  0.679375  0.314711  0.679375  0.466719
6   0.402247  0.455129  0.579914  0.322169  0.579914  0.439865
7   0.530929  0.534375  0.494060  0.219663  0.534375  0.444757
8   0.889462  0.021373  0.060222  0.090622  0.889462  0.265420
9   0.782500  0.674004  0.376735  0.405598  0.782500  0.559710
10  0.734647  0.991929  0.060308  0.614761  0.991929  0.600411
11  0.587009  0.623201  0.147423  0.573410  0.623201  0.482761
12  0.720112  0.942435  0.496463  0.646760  0.942435  0.701443
13  0.698120  0.465542  0.953981  0.526824  0.953981  0.661117
14  0.426958  0.102866  0.603456  0.880335  0.880335  0.503404
15  0.028852  0.120874  0.395017  0.219461  0.395017  0.191051
16  0.043872  0.005334  0.496864  0.322702  0.496864  0.217193
17  0.531712  0.414095  0.566332  0.091405  0.566332  0.400886
18  0.286195  0.880248  0.218796  0.761903  0.880248  0.536786
19  0.506748  0.007275  0.247474  0.909148  0.909148  0.417661
20  0.629412  0.632661  0.772124  0.070444  0.772124  0.526160
21  0.312121  0.956143  0.683943  0.640088  0.956143  0.648074
22  0.995174  0.964712  0.795178  0.477803  0.995174  0.808217
23  0.804264  0.254548  0.466956  0.039906  0.804264  0.391418
24  0.440137  0.595162  0.785938  0.220180  0.785938  0.510354
25  0.508119  0.962552  0.152898  0.513013       NaN       NaN
26  0.289742  0.478363  0.854345  0.001376       NaN       NaN
27  0.429212  0.501993  0.733530  0.458697       NaN       NaN
28  0.751627  0.437453  0.599426  0.445366       NaN       NaN
29  0.402649  0.944473  0.621973  0.208005       NaN       NaN

```
先程作った、３０行のデータフレーム df_new を使いましょう。
作った時に説明しましたが、 カラム max と mean に NaNがあります。
今回のケースでは、最大値も平均値も、カラムから求めることができますが、そのような方法がわからないというケースだと想定して、欠損値の扱いを見ていきます
```

In [57]:
df = df_new

```
今まで、df という変数で各種処理を行っていたので、ここからもdfが使えるように、df_newをdfにします。
このことで、最初に作った dfはデータを失います。
```

In [58]:
df

           a         b         c         d       max      mean
0   0.183643  0.323743  0.938861  0.507779  0.938861  0.488507
1   0.644825  0.535293  0.100737  0.048451  0.644825  0.332326
2   0.241172  0.997354  0.545674  0.795041  0.997354  0.644810
3   0.755114  0.409406  0.808784  0.260855  0.808784  0.558540
4   0.334097  0.702701  0.613500  0.669020  0.702701  0.579830
5   0.351014  0.521778  0.679375  0.314711  0.679375  0.466719
6   0.402247  0.455129  0.579914  0.322169  0.579914  0.439865
7   0.530929  0.534375  0.494060  0.219663  0.534375  0.444757
8   0.889462  0.021373  0.060222  0.090622  0.889462  0.265420
9   0.782500  0.674004  0.376735  0.405598  0.782500  0.559710
10  0.734647  0.991929  0.060308  0.614761  0.991929  0.600411
11  0.587009  0.623201  0.147423  0.573410  0.623201  0.482761
12  0.720112  0.942435  0.496463  0.646760  0.942435  0.701443
13  0.698120  0.465542  0.953981  0.526824  0.953981  0.661117
14  0.426958  0.102866  0.603456  0.880335  0.880335  0.503404
15  0.028852  0.120874  0.395017  0.219461  0.395017  0.191051
16  0.043872  0.005334  0.496864  0.322702  0.496864  0.217193
17  0.531712  0.414095  0.566332  0.091405  0.566332  0.400886
18  0.286195  0.880248  0.218796  0.761903  0.880248  0.536786
19  0.506748  0.007275  0.247474  0.909148  0.909148  0.417661
20  0.629412  0.632661  0.772124  0.070444  0.772124  0.526160
21  0.312121  0.956143  0.683943  0.640088  0.956143  0.648074
22  0.995174  0.964712  0.795178  0.477803  0.995174  0.808217
23  0.804264  0.254548  0.466956  0.039906  0.804264  0.391418
24  0.440137  0.595162  0.785938  0.220180  0.785938  0.510354
25  0.508119  0.962552  0.152898  0.513013       NaN       NaN
26  0.289742  0.478363  0.854345  0.001376       NaN       NaN
27  0.429212  0.501993  0.733530  0.458697       NaN       NaN
28  0.751627  0.437453  0.599426  0.445366       NaN       NaN
29  0.402649  0.944473  0.621973  0.208005       NaN       NaN

```
dfを確認しています
```

In [59]:
df.shape

(30, 6)

```
行列の形も確認します
```

In [60]:
df.tail(6)

           a         b         c         d       max      mean
24  0.440137  0.595162  0.785938  0.220180  0.785938  0.510354
25  0.508119  0.962552  0.152898  0.513013       NaN       NaN
26  0.289742  0.478363  0.854345  0.001376       NaN       NaN
27  0.429212  0.501993  0.733530  0.458697       NaN       NaN
28  0.751627  0.437453  0.599426  0.445366       NaN       NaN
29  0.402649  0.944473  0.621973  0.208005       NaN       NaN

```
欠損値が最後に固まっていましたので、それを見てみましょう。
列の最後を出力する tailメソッドに6行出力するように指定しています。
```


## 欠損値を、0で埋める

In [61]:
df.fillna(0)

           a         b         c         d       max      mean
0   0.183643  0.323743  0.938861  0.507779  0.938861  0.488507
1   0.644825  0.535293  0.100737  0.048451  0.644825  0.332326
2   0.241172  0.997354  0.545674  0.795041  0.997354  0.644810
3   0.755114  0.409406  0.808784  0.260855  0.808784  0.558540
4   0.334097  0.702701  0.613500  0.669020  0.702701  0.579830
5   0.351014  0.521778  0.679375  0.314711  0.679375  0.466719
6   0.402247  0.455129  0.579914  0.322169  0.579914  0.439865
7   0.530929  0.534375  0.494060  0.219663  0.534375  0.444757
8   0.889462  0.021373  0.060222  0.090622  0.889462  0.265420
9   0.782500  0.674004  0.376735  0.405598  0.782500  0.559710
10  0.734647  0.991929  0.060308  0.614761  0.991929  0.600411
11  0.587009  0.623201  0.147423  0.573410  0.623201  0.482761
12  0.720112  0.942435  0.496463  0.646760  0.942435  0.701443
13  0.698120  0.465542  0.953981  0.526824  0.953981  0.661117
14  0.426958  0.102866  0.603456  0.880335  0.880335  0.503404
15  0.028852  0.120874  0.395017  0.219461  0.395017  0.191051
16  0.043872  0.005334  0.496864  0.322702  0.496864  0.217193
17  0.531712  0.414095  0.566332  0.091405  0.566332  0.400886
18  0.286195  0.880248  0.218796  0.761903  0.880248  0.536786
19  0.506748  0.007275  0.247474  0.909148  0.909148  0.417661
20  0.629412  0.632661  0.772124  0.070444  0.772124  0.526160
21  0.312121  0.956143  0.683943  0.640088  0.956143  0.648074
22  0.995174  0.964712  0.795178  0.477803  0.995174  0.808217
23  0.804264  0.254548  0.466956  0.039906  0.804264  0.391418
24  0.440137  0.595162  0.785938  0.220180  0.785938  0.510354
25  0.508119  0.962552  0.152898  0.513013  0.000000  0.000000
26  0.289742  0.478363  0.854345  0.001376  0.000000  0.000000
27  0.429212  0.501993  0.733530  0.458697  0.000000  0.000000
28  0.751627  0.437453  0.599426  0.445366  0.000000  0.000000
29  0.402649  0.944473  0.621973  0.208005  0.000000  0.000000

```
欠損値はデータが不明なので、計算できるように0で埋めたデータフレームを出力します。
ここでは、データは出力されますが、df自体の変更は行っていません。
```

## 欠損値がある行を削除する

In [62]:
df.dropna()

           a         b         c         d       max      mean
0   0.183643  0.323743  0.938861  0.507779  0.938861  0.488507
1   0.644825  0.535293  0.100737  0.048451  0.644825  0.332326
2   0.241172  0.997354  0.545674  0.795041  0.997354  0.644810
3   0.755114  0.409406  0.808784  0.260855  0.808784  0.558540
4   0.334097  0.702701  0.613500  0.669020  0.702701  0.579830
5   0.351014  0.521778  0.679375  0.314711  0.679375  0.466719
6   0.402247  0.455129  0.579914  0.322169  0.579914  0.439865
7   0.530929  0.534375  0.494060  0.219663  0.534375  0.444757
8   0.889462  0.021373  0.060222  0.090622  0.889462  0.265420
9   0.782500  0.674004  0.376735  0.405598  0.782500  0.559710
10  0.734647  0.991929  0.060308  0.614761  0.991929  0.600411
11  0.587009  0.623201  0.147423  0.573410  0.623201  0.482761
12  0.720112  0.942435  0.496463  0.646760  0.942435  0.701443
13  0.698120  0.465542  0.953981  0.526824  0.953981  0.661117
14  0.426958  0.102866  0.603456  0.880335  0.880335  0.503404
15  0.028852  0.120874  0.395017  0.219461  0.395017  0.191051
16  0.043872  0.005334  0.496864  0.322702  0.496864  0.217193
17  0.531712  0.414095  0.566332  0.091405  0.566332  0.400886
18  0.286195  0.880248  0.218796  0.761903  0.880248  0.536786
19  0.506748  0.007275  0.247474  0.909148  0.909148  0.417661
20  0.629412  0.632661  0.772124  0.070444  0.772124  0.526160
21  0.312121  0.956143  0.683943  0.640088  0.956143  0.648074
22  0.995174  0.964712  0.795178  0.477803  0.995174  0.808217
23  0.804264  0.254548  0.466956  0.039906  0.804264  0.391418
24  0.440137  0.595162  0.785938  0.220180  0.785938  0.510354

```
不明なデータは今後の処理に問題になると考え、無かったものとするために行ごと削除しています。
この処置が正しいかどうかは、データの種類や欠損値の数によりますが、重要な値が抜けている場合は、列の削除を行ってしまいましょう。
このケースでも、データフレーム df に変更は与えていません。
```

## 欠損値を、カラム平均で埋める

In [63]:
df.isnull()

        a      b      c      d    max   mean
0   False  False  False  False  False  False
1   False  False  False  False  False  False
2   False  False  False  False  False  False
3   False  False  False  False  False  False
4   False  False  False  False  False  False
5   False  False  False  False  False  False
6   False  False  False  False  False  False
7   False  False  False  False  False  False
8   False  False  False  False  False  False
9   False  False  False  False  False  False
10  False  False  False  False  False  False
11  False  False  False  False  False  False
12  False  False  False  False  False  False
13  False  False  False  False  False  False
14  False  False  False  False  False  False
15  False  False  False  False  False  False
16  False  False  False  False  False  False
17  False  False  False  False  False  False
18  False  False  False  False  False  False
19  False  False  False  False  False  False
20  False  False  False  False  False  False
21  False  False  False  False  False  False
22  False  False  False  False  False  False
23  False  False  False  False  False  False
24  False  False  False  False  False  False
25  False  False  False  False   True   True
26  False  False  False  False   True   True
27  False  False  False  False   True   True
28  False  False  False  False   True   True
29  False  False  False  False   True   True

```
データが欠損値かどうかを判定した、同じ大きさのデータフレームを出力しています
```

In [64]:
df.notnull()

       a     b     c     d    max   mean
0   True  True  True  True   True   True
1   True  True  True  True   True   True
2   True  True  True  True   True   True
3   True  True  True  True   True   True
4   True  True  True  True   True   True
5   True  True  True  True   True   True
6   True  True  True  True   True   True
7   True  True  True  True   True   True
8   True  True  True  True   True   True
9   True  True  True  True   True   True
10  True  True  True  True   True   True
11  True  True  True  True   True   True
12  True  True  True  True   True   True
13  True  True  True  True   True   True
14  True  True  True  True   True   True
15  True  True  True  True   True   True
16  True  True  True  True   True   True
17  True  True  True  True   True   True
18  True  True  True  True   True   True
19  True  True  True  True   True   True
20  True  True  True  True   True   True
21  True  True  True  True   True   True
22  True  True  True  True   True   True
23  True  True  True  True   True   True
24  True  True  True  True   True   True
25  True  True  True  True  False  False
26  True  True  True  True  False  False
27  True  True  True  True  False  False
28  True  True  True  True  False  False
29  True  True  True  True  False  False

```
今度は反対に、欠損値の時にTrueになるメソッドで判定結果を出力しています。
```

In [65]:
df[df['mean'].notnull()]['mean'].mean()

0.49509672166324054

```
ここでは、欠損値でない、カラム　mean の列の平均値を求めています。
```

In [66]:
df_fill_mean = df.fillna({'mean': df[df['mean'].notnull()]['mean'].mean()})

```
欠損値でないカラム mean の平均値を、欠損値に入れています。
ここでは、新たにデータフレーム df_fill_mean を生成しています。
```

In [67]:
df_fill_mean

           a         b         c         d       max      mean
0   0.183643  0.323743  0.938861  0.507779  0.938861  0.488507
1   0.644825  0.535293  0.100737  0.048451  0.644825  0.332326
2   0.241172  0.997354  0.545674  0.795041  0.997354  0.644810
3   0.755114  0.409406  0.808784  0.260855  0.808784  0.558540
4   0.334097  0.702701  0.613500  0.669020  0.702701  0.579830
5   0.351014  0.521778  0.679375  0.314711  0.679375  0.466719
6   0.402247  0.455129  0.579914  0.322169  0.579914  0.439865
7   0.530929  0.534375  0.494060  0.219663  0.534375  0.444757
8   0.889462  0.021373  0.060222  0.090622  0.889462  0.265420
9   0.782500  0.674004  0.376735  0.405598  0.782500  0.559710
10  0.734647  0.991929  0.060308  0.614761  0.991929  0.600411
11  0.587009  0.623201  0.147423  0.573410  0.623201  0.482761
12  0.720112  0.942435  0.496463  0.646760  0.942435  0.701443
13  0.698120  0.465542  0.953981  0.526824  0.953981  0.661117
14  0.426958  0.102866  0.603456  0.880335  0.880335  0.503404
15  0.028852  0.120874  0.395017  0.219461  0.395017  0.191051
16  0.043872  0.005334  0.496864  0.322702  0.496864  0.217193
17  0.531712  0.414095  0.566332  0.091405  0.566332  0.400886
18  0.286195  0.880248  0.218796  0.761903  0.880248  0.536786
19  0.506748  0.007275  0.247474  0.909148  0.909148  0.417661
20  0.629412  0.632661  0.772124  0.070444  0.772124  0.526160
21  0.312121  0.956143  0.683943  0.640088  0.956143  0.648074
22  0.995174  0.964712  0.795178  0.477803  0.995174  0.808217
23  0.804264  0.254548  0.466956  0.039906  0.804264  0.391418
24  0.440137  0.595162  0.785938  0.220180  0.785938  0.510354
25  0.508119  0.962552  0.152898  0.513013       NaN  0.495097
26  0.289742  0.478363  0.854345  0.001376       NaN  0.495097
27  0.429212  0.501993  0.733530  0.458697       NaN  0.495097
28  0.751627  0.437453  0.599426  0.445366       NaN  0.495097
29  0.402649  0.944473  0.621973  0.208005       NaN  0.495097

```
新たに生成したデータフレームを見てみましょう。
カラム mean に欠損値がなくなりました

欠損値の処理には、前後の値で補間する方法も提供さています。
```

# コピー

これまで、データフレームの加工などを、出力することで確認してきました。
データフレームを変数に代入することで、新たなデータフレームを作ってきましたが、Pythonにおいては変数代入はラベル付です。
参照先が同じものを指しているという事になります。


## 深いコピーと浅いコピー

データの加工を行う上で、元のデータを確保したまま実行したい場合があります。
その際には、深いコピー（ディープコピー）を行うことになります。

浅いコピーは、通常の参照と変わりません。

In [68]:
df1= pd.DataFrame({"a" : [1, 2], "b" : [3, 4]})

```
新たに、データフレームを生成します
```

In [69]:
df1

   a  b
0  1  3
1  2  4

```
df1は２行２列のデータフレームです
```

In [70]:
df2 = df1

```
df1 を df2 にコピーしました
```

In [71]:
df2

   a  b
0  1  3
1  2  4

```
df2 は df1と同じものになっています
```

In [72]:
df1.loc[0, "a"]

1

```
インデックスの値が0で、カラムの値がaを確認します
```

In [73]:
df1.loc[0, "a"] = 5

```
df1のインデックスの値が0で、カラムの値がaに、 5を代入します
```

In [74]:
df1

   a  b
0  5  3
1  2  4

```
当然データが変わっています
```

In [75]:
df2

   a  b
0  5  3
1  2  4

```
ここでdf2も確認します
df1同様にｄｆ２のデータも変わってしまいました
```

In [76]:
df3 = df1.copy()

```
df.copy() は深いコピーを行うメソッドです
```

In [77]:
df3

   a  b
0  5  3
1  2  4

```
df3を確認
```

In [78]:
df1.loc[0, "b"] = 6

```
df1のインデックスの値が0で、カラムの値がｂに、６を代入します。
```

In [79]:
df1

   a  b
0  5  6
1  2  4

```
当然ですが、df1は変わっています
```

In [80]:
df3

   a  b
0  5  3
1  2  4

```
df3を確認すると、コピーしたときと同じ値が保たれています。
```

In [81]:
df2

   a  b
0  5  6
1  2  4

```
念のため、df2も確認すると、df1と同じデータになっています。
```