# 演習2

pandasのデータフレームを扱ってみる

- dfという変数に3行4列のデータフレームを作る
- 上記のデータフレームの値を1行目に1から4、2行目に5から8、3行目に9から12を入れる
- dfの内容を確認する
- 上記と同じデータフレームの列名を順番に a, b, c, d と付けたデータフレームdfを再定義する
- b列の平均値を求める
- 2行目(インデックス値 1 )の中の最大値を求める

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(1, 13).reshape(3, 4))

In [3]:
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [4]:
df = pd.DataFrame(np.arange(1, 13).reshape(3, 4), columns=list('abcd'))

In [5]:
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [6]:
df['b'].mean()

6.0

In [7]:
df.loc[:, 'b'].mean()

6.0

上記はどちらでもかまわない

In [8]:
df.loc[1].max()

8