# 演習３

気象庁のサイトから東京の２０１７年３月のデータをHTMLとして取り込み、最低気温を表示する

# 手順の解説

- 必要なライブラリのインポート
- HTMLからテーブルを抜き出す
- 抜き出したテーブルの数を確認
- 最初のテーブルをデータフレームdfに入れる
- dfの先頭を見る
- 先頭の4行を削除
- 日のカラム(`0`) と 最低気温のカラム(`8`) のみを新たなデータフレームに入れる。その際に、データをfloat型に変換
- 新たに作ったデータフレームの先頭を確認
- 最低気温が入っているカラム (カラム名8)の中の最低の値を出力

In [1]:
import numpy as np
import pandas as pd

In [2]:
tables = pd.read_html('201703weather.html')

In [3]:
len(tables)

2

In [4]:
df = tables[0]

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,日,気圧(hPa),降水量(mm),気温(℃),湿度(％),風向・風速(m/s),日照時間(h),雪(cm),天気概況,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,現地,海面,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,平均,平均,合計,最大,平均,最高,最低,平均,最小,平均風速,...,最大瞬間風速,降雪,最深積雪,昼(06:00-18:00),夜(18:00-翌日06:00),NaN,NaN,NaN,NaN,NaN
3,1時間,10分間,風速,風向,風速,風向,合計,値,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1018.6,1021.6,4.5,2.0,0.5,6.4,11.1,1.4,73,...,1.8,3.8,南南東,6.3,南南東,5.6,--,--,曇一時晴,雨後時々曇

In [6]:
df = df.drop([0, 1, 2, 3])

In [7]:
df_min = pd.DataFrame(df.iloc[:, [0, 8]].astype(np.float64))

In [8]:
df_min.head()

     0    8
4  1.0  1.4
5  2.0  5.4
6  3.0  3.7
7  4.0  3.0
8  5.0  4.9

In [9]:
df.loc[:, 8].min()

'0.0'